<!DOCTYPE html>
<html>
<head>
	<title>Negocio|Cachorros</title>
	<link rel="stylesheet" href="../assets/bootstrap/dist/css/bootstrap.min.css" />
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row mt-2">
			<div class="col-sm-4">
				<img src="https://http2.mlstatic.com/cachorros-de-san-bernardo-disponibles-con-papeles-D_NQ_NP_693480-MLA29530467300_032019-F.webp" alt="Imagen Negocio" width="200" height="200">
			</div>
			<div class="col-sm-4 mt-5">
				<h1>Nombre del negocio</h1>
			</div>
			<div class="col-sm-4 mt-5">
				<h2>Información del negocio</h2>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-12 mb-5">
				<h2>Información de los productos</h2>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-sm-4">
				<img src="https://http2.mlstatic.com/cachorros-de-san-bernardo-disponibles-con-papeles-D_NQ_NP_693480-MLA29530467300_032019-F.webp" alt="Imagen Negocio" width="200" height="200">
			</div>
			<div class="col-sm-4">
				<h2>Hamburguesa doble con papas + gaseosa</h2>
			</div>
			<div class="col-sm-4">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
				  Agregar Ingredientes
				</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLongTitle">Ingredientes</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <div class="row">
				        	<div class="col-sm-6">
				        		Tomate
				        	</div>
				        	<div class="col-sm-6">
				        		<input type="checkbox" name="">
				        	</div>
				        </div>
				        <div class="row">
				        	<div class="col-sm-6">
				        		Tomate
				        	</div>
				        	<div class="col-sm-6">
				        		<input type="checkbox" name="">
				        	</div>
				        </div>
				        <div class="row">
				        	<div class="col-sm-6">
				        		Tomate
				        	</div>
				        	<div class="col-sm-6">
				        		<input type="checkbox" name="">
				        	</div>
				        </div><div class="row">
				        	<div class="col-sm-6">
				        		Tomate
				        	</div>
				        	<div class="col-sm-6">
				        		<input type="checkbox" name="">
				        	</div>
				        </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-sm-4">
				<img src="https://http2.mlstatic.com/cachorros-de-san-bernardo-disponibles-con-papeles-D_NQ_NP_693480-MLA29530467300_032019-F.webp" alt="Imagen Negocio" width="200" height="200">
			</div>
			<div class="col-sm-4">
				<h2>Hamburguesa doble con papas + gaseosa</h2>
			</div>
			<div class="col-sm-4">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
				  Agregar Ingredientes
				</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLongTitle">Ingredientes</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <div class="row">
				        	<div class="col-sm-6">
				        		Tomate
				        	</div>
				        	<div class="col-sm-6">
				        		<input type="checkbox" name="">
				        	</div>
				        </div>
				        <div class="row">
				        	<div class="col-sm-6">
				        		Tomate
				        	</div>
				        	<div class="col-sm-6">
				        		<input type="checkbox" name="">
				        	</div>
				        </div>
				        <div class="row">
				        	<div class="col-sm-6">
				        		Tomate
				        	</div>
				        	<div class="col-sm-6">
				        		<input type="checkbox" name="">
				        	</div>
				        </div><div class="row">
				        	<div class="col-sm-6">
				        		Tomate
				        	</div>
				        	<div class="col-sm-6">
				        		<input type="checkbox" name="">
				        	</div>
				        </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-sm-4">
				<img src="https://http2.mlstatic.com/cachorros-de-san-bernardo-disponibles-con-papeles-D_NQ_NP_693480-MLA29530467300_032019-F.webp" alt="Imagen Negocio" width="200" height="200">
			</div>
			<div class="col-sm-4">
				<h2>Hamburguesa doble con papas + gaseosa</h2>
			</div>
			<div class="col-sm-4">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
				  Agregar Ingredientes
				</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLongTitle">Ingredientes</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <div class="row">
				        	<div class="col-sm-6">
				        		Tomate
				        	</div>
				        	<div class="col-sm-6">
				        		<input type="checkbox" name="">
				        	</div>
				        </div>
				        <div class="row">
				        	<div class="col-sm-6">
				        		Tomate
				        	</div>
				        	<div class="col-sm-6">
				        		<input type="checkbox" name="">
				        	</div>
				        </div>
				        <div class="row">
				        	<div class="col-sm-6">
				        		Tomate
				        	</div>
				        	<div class="col-sm-6">
				        		<input type="checkbox" name="">
				        	</div>
				        </div><div class="row">
				        	<div class="col-sm-6">
				        		Tomate
				        	</div>
				        	<div class="col-sm-6">
				        		<input type="checkbox" name="">
				        	</div>
				        </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<h1>Te puede interesar!!! <span class="badge badge-secondary">Promociones</span></h1>
		</div>
		<hr>
		<div class="row bg-secondary">
			<div class="col-sm-6">
				<div>
					<a href="" class="text-dark">PROMOCIONES EN NUESTRAS TIENDAS</a><br>
					<a href="#" class="text-dark">Quesudos promociones sin parar</a><br>
					<a href="#" class="text-dark">Quesudos promociones sin parar</a><br>
				</div>
			</div>
			<div class="col-sm-6">
				<div>
					<a href="" class="text-dark">PROMOCIONES EN NUESTRAS TIENDAS</a><br>
					<a href="#" class="text-dark">Quesudos promociones sin parar</a><br>
					<a href="#" class="text-dark">Quesudos promociones sin parar</a><br>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>